@{
	var Categories = ViewBag.Categories as List<KnowledgeHubPortal.Domain.Entities.Category>;
	var Articles = ViewBag.Articles as List<KnowledgeHubPortal.Domain.Entities.Article>;
}
<a class="btn btn-primary float-end" asp-controller="URL" asp-action="Submit">Submit URL</a>

<div class="form-group mt-3">
	<div class="row">
		<div class="col-md-6">
			<label for="categorySelect" class="form-label">Category</label>
			<select class="form-control" id="categorySelect" onchange="handleCategoryChange()">
				<option disabled>Select a category</option>
				<option selected value="0">All Category</option>
				@foreach (var cat in ViewBag.Categories)
				{
					if(cat.CategoryId==ViewBag.selectedCategoryId)
					{
						<option selected value="@cat.CategoryId">@cat.CategoryName</option>
					}
					else
					{
					<option value="@cat.CategoryId">@cat.CategoryName</option>
					}
				}
			</select>
		</div>
	</div>
</div>

<table class="table mt-3">
	<thead>
		<tr>
			<th>Title</th>
			<th>URL</th>
			<th>Description</th>
			<th>PostedBy</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var article in Articles)
		{
			if(article.isApproved)
			{
				<tr>
					<td>@article.Title</td>
					<td>
						<a href="@article.URL" target="_blank">
							@article.URL
						</a>
					</td>
					<td>@article.Description</td>
					<td>NA</td>
				
				</tr>	
			}
		}
	</tbody>
</table>

<script>
	function handleCategoryChange()
	{
		const select = document.getElementById('categorySelect');
		const categoryId = select.value;

		if (categoryId == 0) {
			window.location.href = `/URL/`;
		}

		else if (categoryId ) {
			// Redirect to the Browse action with the selected category ID
			// Reloading whole page not doing dynamic Update
			window.location.href = `/URL/Browse?categoryId=${categoryId}`;
		}
	}
</script>
